@model RealEstate.ViewModels.WebMVC.ReservationDetailsViewModel

@{
    ViewBag.Title = "Информация за резервация - Имоти СПРОПЪРТИС";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Подробна информация за резервация</h2>
</div>
