@model RealEstate.ViewModels.WebMVC.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Добави Телефонен номер - Имоти СПРОПЪРТИС";
}
<div class="col-md-offset-4 top-bottom-marginated">
    
    <form action="/Manage/AddPhoneNumber" method="post" class="form-horizontal" role="form" id="change-password-form">

        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="col-md-6">
                <h2 align="center">Въведете телефонен номер</h2>

                <hr />

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-8 control-label">Телефонен номер</label>

                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Потвърди" />
                </div>

            </div>

        </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
