@model List<RealEstate.ViewModels.WebMVC.TeamUserListViewModel>
@{
    ViewBag.Title = "Всички агенти - Имоти СПРОПЪРТИС";
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>Our Agents</span></h2>*@
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Featured Agents -->
    <section class="pgl-agents">
        <div class="container">
            <h2>ТОП БРОКЕРИ</h2>
            <div class="featured-agent">
                <div class="row">
                    @foreach (var agent in ViewBag.FeaturedAgents)
                    {
                        <div class="col-md-6">
                            @Html.Partial("TeamUserListViewHorizontal", (RealEstate.ViewModels.WebMVC.TeamUserListViewModel)agent)
                        </div>
                    }
                </div>
            </div>
            <!-- End Featured Agents -->
            <!-- Begin Our Agents -->
            <div class="grid-agents">
                <h2>Нашите брокери</h2>
                <div class="row">

                    @foreach (var agent in Model)
                    {
                        <div class="col-xs-6 col-md-3">
                            @Html.Partial("TeamUserListViewVertical", agent)
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Agents -->
</div>