
@{
    ViewBag.Title = "Премахване на е-мейл - Имоти СПРОПЪРТИС";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вашият е-мейл адрес е успешно премахнат от списъкът ни.<br/> Вече няма да получавате известявания от нашата система.</h2>
<p>За да посетите нашата система натиснете <a href="@Url.Action("Index","Home")">тук</a>.</p>


