<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="default" xsi:type="File"
            layout="${longdate} | username: ${aspnet-user-identity} | IP: ${aspnet-request-ip} | ${uppercase:${level}} | ${callsite} | ${message} ${exception} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}"
            fileName="Logs/${aspnet-user-identity}.log"
            archiveFileName="Logs/archive/app-log.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"
            encoding="UTF-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>
</nlog>