<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" type="Elmah.SecuritySectionHandler, Elmah" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="RealEstate" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;initial catalog=RealEstate;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="RealEstate" connectionString="Data Source=SQL6001.site4now.net;Initial Catalog=DB_A437B6_stefanpeev;User Id=DB_A437B6_stefanpeev_admin;Password=s9305060000;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="AppStatus" value="Developement" />

    <add key="CompanyName" value="sProperties Ltd." />

    <!--*****************-->
    <!--Blog Path-->
    <add key="BlogPostFolderRelativePath" value="\Resources\Blog" />
    <!--Blog Path-->
    <!--*****************-->
    <!--Email Credentials-->
    <!--*****************-->
    <!--Gmail Credentials-->
    <add key="GmailDomain" value="smtp.gmail.com" />
    <add key="GmailSmtpPort" value="587" />
    <add key="GmailUserName" value="stefoajc99@gmail.com" />
    <add key="GmailPassword" value="9305060000" />
    <!--Abv Credentials-->
    <add key="AbvDomain" value="smtp.abv.com" />
    <add key="AbvSmtpPort" value="465" />
    <add key="AbvUserName" value="stefoajc@abv.com" />
    <add key="AbvPassword" value="ajcrlz" />
    <!--NoReply Credentials-->
    <add key="NoReplyDomain" value="smtp.gmail.com" />
    <add key="NoReplySmtpPort" value="587" />
    <add key="NoReplyUserName" value="stefoajc99@gmail.com" />
    <add key="NoReplyPassword" value="9305060000" />
    <!--*****************-->
    <!--Sms Provider Credentials-->
    <add key="LinkMobilityServiceId" value="1967" />
    <add key="LinkMobilityKey" value="7c12d9e8d58c4ef4e49461a7cab641fa" />
    <!--Company Information-->
    <!--*****************-->
    <add key="OfficePhone" value="+359877811550" />
    <add key="MobilePhone" value="+359877811550" />
    <add key="Fax" value="+359877811550" />


    <add key="CompanySmtpHost" value="mail.sproperties.net" />
    <add key="CompanySmtpPort" value="8889" />
    <add key="OfficeEmail" value="office@sproperties.net" />
    <add key="No-ReplyEmail" value="no-reply@sproperties.net" />
    <add key="CompanyMailsPassword" value="s9305060000!" />

    <add key="CompanyAddress" value="България, Асеновград, ул. Пирин №8" />
    <!--*****************-->
    <!--OAuth Credentials-->
    <!--*****************-->
    <!--Google Credentials-->
    <add key="GoogleCalendarClientID" value="877985922956-o8klh7mqdc40mqgnd0fq4rarjct28uc0.apps.googleusercontent.com" />
    <add key="GoogleCalendarClientSecret" value="xkUgdn62t0LWtfqiYuSJomCd" />
    <add key="GoogleClientID" value="877985922956-m28jfr189gotig926o5qjvpp5161jpic.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="W04SIgRzI4wJa8iGUC1lS8NU" />
    <!--*****************-->
    <!--Facebook Credentials-->
    <add key="FacebookClientID" value="194550251149553" />
    <add key="FacebookClientSecret" value="d41e705799c1e405aabe5e06877b8507" />
    <add key="MessengerPageAccessToken" value="EAACw8UKcWPEBADciDidPrCyxTYF9K1wZCfPSxXo9UievZAsASlwIFUz4UuV59ZCBHbhmsCGxovyhDX12BhS3460wFhxol7BMzRZCdpRn8Az1OvIZBnSyqUXtWzRJDi5hMiWYU1qdZC2L5pv4JMzfEZAbFiLyAEgZBjhzeuPkTwtCXPKZCX9IkyqC2" />
    <!--Facebook Credentials-->
    <!--Instagram Credentials-->
    <add key="InstagramClientID" value="93d379fef18745d88d9f99d44d306615" />
    <add key="InstagramClientSecret" value="51ef2e1c384a465f99817924ef9e96f2 " />
    <!--Instagram Credentials-->
    <!--Twitter Credentials-->
    <add key="TwitterClientID" value="h5wkx8tzH9kwKUhcthdihbZR5" />
    <add key="TwitterClientSecret" value="RwESZNdvpBDc6YScR6qmHevZOPd3sDLuraccRDdBnQoNRgTp2c" />
    <!--Twitter Credentials-->
    <!--LinkedIn Credentials-->
    <add key="LinkedInClientID" value="78v542pf5j9jc7" />
    <add key="LinkedInClientSecret" value="JelJ0clALD5BjwA4" />
    <!--LinkedIn Credentials-->
    <!--*****************-->
    <!--ePayCredentials DEMO-->
    <add key="ePayUrl" value="https://demo.epay.bg/" />
    <add key="EasyPayUrl" value="https://demo.epay.bg/ezp/reg_bill.cgi" />
    <add key="ePayClientKey" value="D555355354" />
    <add key="ePayClientSecret" value="DSFYMR8PWWOKAHW6SJ9W5Y9W5Z5ADAIKE5KM9FN64NV5EQ3B7XD7NR9AUGHKMIRM" />
    <!--ePayCredentials DEMO-->
    <!--ePayCredentials for Production-->
    <!--<add key="ePayUrl" value="https://www.epay.bg/"/>-->
    <!--<add key="EasyPayUrl" value="https://www.epay.bg/ezp/reg_vnbel.cgi"/>-->
    <!--<add key="ePayClientKey" value=""/>
    <add key="ePayClientSecret" value=""/>-->
    <!--ePayCredentials for Production-->
    <!--*****************-->
    <!--sProperties Bank account information-->
    <!--Demo-->
    <add key="IBAN" value="BG59UNCR70001523438328" />
    <add key="BIC" value="UNCRBGSF" />
    <!--Production-->
    <!--<add key="IBAN" value=""/>
    <add  key="BIC" value=""/>-->
    <!--sProperties Bank account information-->
    <!--*****************-->

    <add key="recaptchaSiteKey" value="6Lers20UAAAAAPu8hl2paT_Hu6JLd3oSjnDVwL1D" />
    <add key="recaptchaSecretKey" value="6Lers20UAAAAAFVyvR20X4uxUdU8sRWgAEi_3KWH" />


    <add key="domain" value="www.sproperties.net" />
    
    <!--Time span for editing AgentMaterials File or Folder-->
    <add key="TimeWindowForChangesInMinutes" value="60" />
    <!--*****************-->
    
    <!--Folder path for Agent Material-->
    <add key="MaterialsPath" value="\Resources\MaterialsPath" />
    <!--*****************-->


    <!--Folder path for Agent Reports-->
    <add key="ReportsPath" value="\Resources\Reports" />
    <!--*****************-->

  </appSettings>
  <system.web>
    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      -->
    <!--put your own customized error page-->
    <!--
      <error statusCode="404" redirect="/Errors/NotFound"/>
    </customErrors>-->
    <globalization uiCulture="bg" culture="bg" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Errors/NotFound" responseMode="ExecuteURL" />
      <remove statusCode="401" />
      <error statusCode="401" path="/Errors/NotAuthorized" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Errors/Index" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="Canonical Host Name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^sproperties\.net" />
          </conditions>
          <action type="Redirect" url="https://www.sproperties.net/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <hiddenSegments>
          <add segment="MaterialsPath" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>