@{
    ViewBag.Title = "Търсене - Имоти СПРОПЪРТИС";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>Списък имоти</span></h2>*@
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Advanced Rental Search -->
    @Html.Partial("/Views/Properties/SearchRentalLong.cshtml")
    <!-- End Advanced Rental Search -->
    <!-- Begin Advanced Rental Search -->
    @Html.Partial("/Views/Properties/SearchRental.cshtml")
    <!-- End Advanced Rental Search -->
    <!-- Begin Advanced Sell Search -->
    @Html.Partial("/Views/Properties/SearchSell.cshtml")
    <!-- End Advanced Sell Search -->
    <!-- Begin Id Search-->
    <section class="pgl-advanced-search pgl-bg-light">
        <div class="container">
            @using (Html.BeginForm("Details", "Properties", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-xs-6 col-sm-3 pull-right">
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Намери по номер</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 pull-right">
                        <div class="form-group">
                            <input name="id" id="propertyId" class="form-control" placeholder="Напишете номера на имота тук" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- End Id Search-->
    <!-- Begin Featured -->
    @Html.Partial("/Views/Properties/FeaturedProperties.cshtml", (List<RealEstate.ViewModels.WebMVC.PropertyBriefInfoViewModel>)ViewBag.FeaturedProperties)
    <!-- End Featured -->
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
            }

            jQuery.datetimepicker.setLocale('bg');

            jQuery(function(){
                jQuery('#from').datetimepicker({
                    format: 'd.m.Y',
                    locale: 'bg',
                    minDate: addDays(new Date(), 1),
                    onShow: function (ct) {
                        var maxDate = jQuery('#to').val();
                        if (maxDate) {
                            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            maxDate = maxDate.replace(pattern, '$3-$2-$1');

                        } else {
                            maxDate = false;
                        }
                        this.setOptions({
                            maxDate: maxDate
                        });
                    },
                    timepicker:false
                });
                jQuery('#to').datetimepicker({
                    format: 'd.m.Y',
                    locale: 'bg',
                    minDate: addDays(new Date(), 2),
                    onShow: function (ct) {
                        var minDate = jQuery('#from').val();
                        if (minDate) {
                            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            minDate = minDate.replace(pattern, '$3-$2-$1');

                        } else {
                            minDate = false;
                        }
                        this.setOptions({
                            minDate: minDate
                        });
                    },
                    timepicker:false
                });
            });
        });
    </script>
}