@{
    ViewBag.Title = "Потвърждаване на забравена парола";
}

<div class="container" style="padding-top: 100px; padding-bottom: 100px; ">
    <hgroup class="title">
        <h1 align="center">@ViewBag.Title.</h1>
    </hgroup>
    <div style="text-align: center; color: green;">
        <p>
            <b>Заявката ви за забравена парола е обработена и до няколко минути ще получите емейл от нашата система,<br /> чрез който може да осъществите промяна на паролата.</b>
        </p>
    </div>
</div>
