
@{
    ViewBag.Title = "Правила на общността - Имоти СПРОПЪРТИС";
}

<div class="container" style="padding-top: 20px;">
    <h1 align="center">@ViewBag.Title</h1>

    <p>
        Създадохме тези указания, за да поддържаме приятелско и разумно сътрудничество между нашите членове на общността. Молим всички потребители внимателно да прочетат тези указания и да се придържат към тях.
        Моля, имайте предвид, че освен тези указания, които ще бъдат обяснени в следващите глави, важат и общите правила и всяко нарушение ще бъде наказвано.
    </p>
    <p>
        I. Нашите форумни екипи работят за осигуряване на приятелска общност. Модераторите и Администраторите представляват "СПРОПЪРТИС" и са върховен орган на официалният форум. Те помагат на нашите потребители, като предоставят информация, отговарят на въпроси, опитват се да разрешат конфликтите и организират форума, за да ви осигурят нещата там, където ги очаквате. Освен това те също така гарантират, че всеки спазва насоките и условията на общността.
    </p>
    <p>
        II. Поради тази причина те имат право да се намесят, ако правилата не са спазени, и могат да отправят предупреждения, да редактират, преместват или изтриват съдържание, създадено от потребителите, и - ако е необходимо - да упражняват правото си да определят кой ще има достъп или да блокират потребител или да го изтрият от системата.
    </p>
    <p>
        III. Модераторите имат право да имат собствено мнение и могат да го изразят във форумът. Те трябва само да разясняват, когато го правят.
    </p>

    <p>
        <b>Как да публикувате нещо?</b><br />

        Преди да коментирате или публикувате, трябва да сте наясно какво искате да кажете и какво послание искате да предадете. Ако имате проблем и искате да го докладвате, не пишете само "не работи" в контактния формуляр, а ще изясните какво всъщност не работи и ще го опишете подробно. Също така, моля, използвайте точен и ясен език , опитвайте се да избягвате писането само с главни букви. Моля, опитайте се да избегнете няколко публикации в рамките на няколко минути, за да не спамите другите потребители с известия.
    </p>

    <p>
        <h2 align="center">Обща информация</h2>
    </p>
    <p>
        <b>1. Брутално, сексуално или вулгарно съдържание</b> <br/>
        I. Не е позволено да публикувате или използвате този вид съдържание като профилни снимки. Това включва публикуване и разпространение на съдържание, което е оценено като сексуално ориентирнo или порнографски материал, както и изключително брутално или насилствено съдържание, изображения или текстове. В тази категория се счита също така и вулгарният език. Моля, обърнете внимание: съдържанието, което публикувате от други платформи, като YouTube, също трябва да се приведе в съответствие с това изискване и ако те не се приведат в съответствие, ще предприемем мерки за редактиране/премахване.
    </p>
    <p>
        <b>2. Имитиране на служители на GGS или модератори</b><br />
        I. Не е позволено да се имитират служители или модератори във форума. Също така е забранено разпространяването на невярна информация във форума.
    </p>
    <p>
        <b>3. Расизъм</b><br />
        I. Не е позволено да се разпространява явна или скрита расова или етническа омраза, клевета или символи.
        Моля, имайте предвид: Съдържанието, което публикувате от други платформи като YouTube, трябва да се приведе в съответствие с това изискване и ако не направите това, ще вземем мерки за редактиране/премахване.
    </p>
    <p>
        <b>4. Намеса в модераторските мерки</b><br />
        I. Не е позволено да се нарушават мерките за модериране, което включва началото на кавги или дискусии срещу предупреждения, наказания и т.н., предполагащи цензура или исторически сравнения, отрицателно съвпадащи поради редакции или заличавания, както и подобни коментари за предизвикване на дискусия след модераторско действие. Също така е забранено да се променят модераторски редакции чрез редактиране на коментарите отново или продължаване на публикуването по определена тема, въпреки че модераторите са я спрели. Всяко действие на модератор винаги може да бъде обсъждано в частен чат със самия Модератор или един от Админите по спокоен и приятелски настроен начин.
    </p>
    <p>
        <b> 5. Спам и тролинг</b><br />
        I.  Не е позволено да се спами в нашите форуми. Това включва::
        Повторно коментиране със същото или подобно изречение, произволни букви / думи
        Вклюване в тема с единственото намерение да причини безпокойство или да предизвика загриженост
        Проблеми чрез караници, коментари извън темата или съзнателно унищожаване на дискусия
        Еднословни коментари като "LOL", "ха ха " или подобни безсмислици
        Злоупотреба с пост-реакции / докладване за тормоз на други потребители. (Съобщете за злоупотреба)
    </p>
    <p>
        <b> 6. Популяризиране на конкурентни продукти</b><br />
        I. Не е позволено популяризирането на конкурентни продукти (други форуми, други агенции и т.н.) с намерение да привлекат клиенти от нашата общност към друга. Линкове към частни уеб страници, напр. фен страници, уикита или блогове обикновено се допускат, ако се сметнат за отдачни от екипът ни. Също така е допустимо да споделите линк към други агенции, да използвате екранни снимки или да ни пишете, за да ни дадете информация за възможни нови функции, практики или да ни дадете обратна информация за подобрение на дейността на агенцията.
    </p>
    <p>
        <b>7. Обработка на профили</b><br />
        I. Не е позволено да се създават и поддържат многобройни акаунти в един и същи езиков форум или да се продават профили във форума.
    </p>
    <p>
        <b>8. Публикуване на разговори</b><br />
        I. Не е разрешено да публикувате текстови записи, лична кореспонденция, имейл разговори, разговори с екипа на форума или екипа на СПРОПЪРТИС.
    </p>
    <p>
        <b>9. Назоваване и обиждане</b><br />
        I.  Не е позволено да се обсъждат публично действия и поведение на други потребители във форума, включително обвиняване на други потребители в нечестно поведение, като измама и други. Ако наистина се сблъскате с потребител, който клевети, моля свържете се с екипа за поддръжка или с модератор по този въпрос и дайте убедителни доказателства.
    </p>
    <p>
        Моля, имайте предвид, че Форумът е собственост на "СПРОПЪРТИС" ЕООД и въпреки че имате свободата да кажете каквото искате, ние имаме право да решаваме кое съдържание и поведение да толерираме и кое не. Това не е нарушение на свободата на словото. Например някой идва в дома ви и казва нещо лошо за вас. Това е негово право, но в същото време ваше право е да накарате лицето да напусне къщата ви.
    </p>
</div>