
@{
    ViewBag.Title = "Политика за бисквитките - Имоти СПРОПЪРТИС";
}

@section css{
    <style>
        #textpage .tab {
            padding-left: 30px;
        }
    </style>
}

<div class="container">
    <br />
    <br />
    <article id="textpage">
        <h1 align="center">Политика за бисквитките</h1>
        <br>

        <p>
            Настоящият документ е неизменна част от <a href="@Url.Action("TermsAndConditions", "Home")">Общите условия за ползване на сайта</a>.
        </p>

        <p>За да сме сигурни, че получавате най-подходящата информация и най-доброто обслужване, когато посещавате платформата ни, ние използваме т.нар. "бисквитки" (cookies). Те ни помагат (както и на други упълномощени трети лица) да Ви осигурим персонализирано преживяване при използване на услугите ни, да ги подобряваме и да Ви предоставяме по-релевантно съдържание.</p>
        <p>За да сме убедени, че разбирате защо използваме "бисквитки", сме подготвили тази Политика за бисквитките – от нея ще се информирате какви технологии използваме, какво правят те и какъв избор имате във връзка с употребата им.</p>
        <p>Ако не искате да приемате „бисквитки“ или желаете да изберете по-специфични настройки, в настоящата политика ще намерите повече информация.</p>

        <h2 align="center">Какво представляват бисквитките</h2>

        <p>Бисквитките (HTTP Cookies) са малки текстови файлове, които уеб сървърът може да запише на Вашето устройство/браузър, когато посещавате сайта. При следващо посещение на страница на сайта, браузърът изпраща обратно към сървъра информацията в така създадените бисквитки.</p>
        <p>Бисквитките са важен компонент за коректното функциониране на почти всеки сайт в интернет.</p>
        <p>За целите на настоящата политика и максимална яснота, понятието обобщава и други сходни технически механизми, освен HTTP Cookies, чрез които Вашият браузър може да позволява да бъде съхранявана информация локално, като например: Web Storage (Local Storage и Session Storage), Indexed Database API (IndexedDB), Web SQL Database, Local shared objects (Flash Cookies), Web beacons.</p>

        <h2 align="center">Ние и нашите доставчици на услуги можем да използваме следните видове бисквитки:</h2>

        <p class="tab">
            <b>• Задължителни бисквитки (еssential cookies)</b><br>
            Те са необходими, за да може платформата ни да изпълнява своите основни функции. Тоест – платформата ни не би могла да функционира без тях. Такива бисквитки са например: за потребителски сесии и спомагателни функции, свързани с тях. Ако забраните тези бисквитки, няма да можете да се логвате в профила си в сайта ни, няма да можете да извършвате покупки и почти всякакви други действия.
        </p>
        <p class="tab">
            <b>• Бисквитки за функционалност и ефективност (performance and functionality cookies)</b><br>
            Тези бисквитки се използват за други важни функции, като например:<br>
            <span class="tab">• За да можем да Ви разпознаваме, когато се връщате на нашата платформа или използвате нашите услуги;</span><br>
            <span class="tab">• За запомняне на потребителски преференции (пр. какви настройки сте избрали, за кой град желаете да разглеждате предложения и др.);</span><br>
            <span class="tab">• За да можем да Ви препоръчваме услуги, отговарящи на Вашите предпочитания;</span><br>
            <span class="tab">• За събиране на информация за начина, по който посетителите използват платформата ни, за да можем да я поддържаме в най-добър вид и да подобряваме услугите ѝ;</span><br>
            <span class="tab">• За временно съхраняване на анонимна информация, която ни помага максимално добре да Ви предоставяме релевантни предложения;</span><br>
            <span class="tab">• За други спомагателни функции.</span>
        </p>
        <p class="tab">
            Ако изтриете тези бисквитки, платформата ни ще бъде със силно ограничена функционалност и няма да може да функционира коректно и да Ви предоставя добро качество на услугата. Повече информация можете да намерите <a onclick="flybox_open('Това са някои от бисквитките от този тип:', '<div style=&quot;padding:10px 15px 5px;&quot;> <p style=&quot;padding:5px 0; margin:0;&quot;>• rememberme: използва се за функцията „Запомни ме“ при вход в потребителския профил. Чрез тази бисквитка се осъществява автоматичният вход, когато потребителят посети сайта впоследствие.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• city, bcity: съдържат информация за града, за който се показват оферти в сайта.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• uniqid: идентификатор на посетителя.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• lstp: съхранява информация за преференцията на потребителя по какъв начин желае да вижда списъка с предложения като визуална структура/подредба.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• lastuid: съхранява идентификатор за последния логнат потребител от този браузър, с цел извършване на автоматични проверки за осигуряване на по-добра сигурност на акаунтите.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• gst_sbscrb: съдържа индикатор дали текущият посетител се е записал за e-mail абонамент, или е посочил, че не желае да се запише, или не е посочил нищо; въз основа на която информация се променя начинът на работа на някои второстепенни функции в платформата.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• affid, affid2: използват се, за да се следи дали даден посетител е дошъл чрез конкретен вид рекламен канал или инструмент.</p> <p style=&quot;padding:5px 0; margin:0;&quot;>• fbsgp, fbautlgsts, fmb_xxxxxx, fbsr_xxxxxx: използват се във връзка с функциятя „Вход с Facebook”.</p> </div>');">тук</a>.
        </p>
        <p class="tab">
            <b>• Бисквитки на трети страни, с цел преброяване на посещаемостта</b><br>
            Използваме няколко външни услуги, които също могат да създават бисквитки в браузъра Ви. Тези бисквитки се управляват от съответните услуги и не се контролират от нас. Информацията в тях е анонимизирана. Предназначението е на тези външни услуги е да преброяват анонимно статистическа информация за посещаемостта на сайта ни, за да можем да следим ефективността на услугите ни и да ги подобряваме. Тези външни услуги за преброяване са:<br>
            <span class="tab">• Google Analytics;</span><br>
            <span class="tab">• Google Tag Manager;</span><br>
            <span class="tab">• Gemius.</span>
        </p>
        <p class="tab">
            <b>• Бисквитки на трети страни, с рекламни цели</b><br>
            Използваме няколко външни услуги – рекламни мрежи, които също могат да създават бисквитки в браузъра Ви. Тези бисквитки се управляват от съответните услуги и не се контролират от нас. Информацията в тях е анонимизирана. Предназначението е на тези външни услуги е да осигурят възможности за извършване на рекламни кампании. Те могат да използват бисквитки с цел идентифициране и персонализация на реклами към платформата ни във външни сайтове и услуги. Такива външни рекламни платформи са:<br>
            <span class="tab">• Google AdWords;</span><br>
            <span class="tab">• Facebook Ads;</span><br>
            <span class="tab">• Criteo;</span><br>
            <span class="tab">• AdWise.</span>
        </p>
        <p class="tab">
            <b>• Бисквитки на трети страни - за функционалност</b><br>
            Някои бисквитки възникват и във връзка с инструменти на трети страни, които сме интегрирали в платформата ни. Например, Facebook API (<i>опциите за „Вход с Facebook”, „Харесай във Facebook” и др.</i>) и Google API (<i>опциите за „Влез с Google профила си“, „Сподели в Google+”, „Виж на картата“ и др.</i>), които могат да създадат бисквитки, за да могат да функционират. Тези бисквитки се управляват от съответните услуги и не се контролират от нас. От наша страна не можем да предоставим техническа възможност за забраняването им. Поради това, ако не желаете те да възникват, не би следвало да използвате изброените по-горе външни инструменти, интегрирани в платформата ни.
        </p>

        <p>Ние се стараем третите страни, с които имаме партньорски взаимоотношения, да бъдат надлежно проверени и с доказан авторитет и професионализъм.</p>

        <p>Бисквитки, възникнали при посещаване на платформата ни от посетителя чрез клик върху реклама на сайта ни, намираща се във външен сайт на трета страна, не могат да бъдат предварително проконтролирани от потребителя, т.е. те се записват по подразбиране и се четат от платформата ни, след като посетителят е дошъл от сайт на трета страна. Бисквитките, функциониращи на този принцип с цел изпълнение на функциите на рекламната ни афилиейт система, не са уникални за посетителя и не биха могли да доведат до идентифициране на лицето.</p>

        <h2 align="center">Настройка и изтриване на бисквитките</h2>

        <p>Можете сами да изберете дали да приемате бисквитките или не, както и какъв вид бисквитки бихте искали да приемате, по следните начини:</p>
        <p class="tab">
            <b>• Настройки чрез Вашия браузър.</b> Можете изрично да забранявате или ограничавате бисквитките чрез настройките на Вашия уеб браузър. Всеки съвременен уеб браузър (<i>Google Chrome, Mozilla Firefox, Edge, Internet Explorer, Safari, Opera и т.н.</i>) дава възможности за:<br>
            <span class="tab">• настройки за приемането на бисквитки – забраняване и разрешаване (както цялостно, така и по сайтове);</span><br>
            <span class="tab">• преглеждане на създадените бисквитки;</span><br>
            <span class="tab">• изтриване на създадени бисквитки.</span><br>
            Важно е да имате предвид, че деактивирането на функциите за бисквитки в браузъра може да доведе до невъзможност да използвате услугите ни, тъй като без задължителните бисквитки платформата ни не може да изпълнява основните си функции.
        </p>
        <p class="tab">
            <b>• Настройки чрез външни инструменти.</b>
        </p>
        <p class="tab">
            <span class="tab">• Инструмент на Google, под формата на приставка към браузъра, чрез който можете лесно да забраните Ваши данни да бъдат ползвани от услугата Google Analytics, която е често използвана от множество сайтове за преброяване на посещения и статистическа информация. Google Analytics Opt-out Browser Add-on: <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a>.</span>
        </p>
        <p class="tab">
            <span class="tab">
                • Инструменти, чрез които можете да проверите статуса и да поставите изрична забрана на голям брой рекламни платформи да ползват Ваши данни във връзка с таргетиране и персонализиране на рекламa:<br>
                <span class="tab">- <a href="https://optout.aboutads.info/" target="_blank">https://optout.aboutads.info/</a></span><br>
                <span class="tab">- <a href="http://www.youronlinechoices.com/bg/%d0%b2%d0%b0%d1%88%d0%b8%d1%8f%d1%82-%d0%b8%d0%b7%d0%b1%d0%be%d1%80" target="_blank">http://www.youronlinechoices.com/bg/%d0%b2%d0%b0%d1%88%d0%b8%d1%8f%d1%82-%d0%b8%d0%b7%d0%b1%d0%be%d1%80</a></span>
            </span>
        </p>
        <p class="tab">
            <span class="tab">• Настройки в платформата на Google относно бисквитки, създавани и управлявани от тяхна страна с рекламни цели: <a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a>.</span>
        </p>
        <p class="tab">
            <span class="tab">• Настройки в платформата на Facebook относно бисквитки, създавани и управлявани от тяхна страна с рекламни цели: <br /> <a class="tab" href="https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen" target="_blank">https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen</a>.</span>
        </p>

        <h2 align="center">Промени в политиката за бисквитките</h2>

        <p>Всички евентуални бъдещи промени в нашата Политика за бисквитки ще бъдат публикувани на тази страница.</p>

        <h2 align="center">За контакти</h2>

        <p>
            Ако имате въпроси, коментари или искания, свързани с тази Политика за бисквитките, можете да се свържете с нас от странциата <a href="@Url.Action("Contact", "Home")">За Контакти</a>.
        </p>

        <h2 align="center">Други полезни връзки</h2>

        <p class="tab">
            • Повече информация за бисквитките, начина им на работа, както и инструкции за настройки на браузърите, можете да намерите тук:<br>
            <span class="tab">- Wikipedia: <a href="https://bg.wikipedia.org/wiki/HTTP-бисквитка" target="_blank">https://bg.wikipedia.org/wiki/HTTP-бисквитка</a></span><br>
            <span class="tab">- AboutCookies: <a href="https://www.aboutcookies.org/" target="_blank">https://www.aboutcookies.org/</a></span>
        </p>

        <p class="tab">
            • Повече информация за поведенческата реклама и защитата на личните данни в интернет можете да намерите на следния адрес: <a href="http://www.youronlinechoices.com/bg/" target="_blank">http://www.youronlinechoices.com/bg/</a>
        </p>

    </article>
</div>