@using RealEstate.ViewModels.WebMVC.Forum
@{
    ViewBag.Title = "Често задавани въпроси - Имоти СПРОПЪРТИС";
}


<!-- Begin page top -->
<section class="page-top">
    <div class="container">
        <div class="page-top-in">
            <h2><span>Често задавани въпроси</span></h2>
        </div>
    </div>
</section>
<!-- End page top -->
<!-- Begin content with sidebar -->
<div class="container">
    <div class="row">
        <div class="col-md-9 content">

            <!-- Begin FAQs -->
            <div class="panel-group pgl-group-faqs" id="accordion">
                <div class="panel panel-default pgl-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Какво дължа за да ми намерите наемател на имота?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>
                                За да предлагаме имотът ви на клиентите ни не ни дължите нищо, докато не ви намерим наемател и не сключите договор за наем с него.
                                Комисионната се плаща когато е налице сключен договор за наем между вас като Наемодател и Наемателя намерен от агенцията ни.
                                Комисионната се плаща еднократно и е в размер <b>50% /без ДДС/</b> от наемната цена за месец на имота. (пример: При 400лв. месечен наем комисионната е в размер на 200лв./без ДДС/)
                            </p>
                            <p style="text-decoration: underline;">Ако вие си намерите наемател, който не е наш клиент (което се доказва с документ за проведен оглед) преди ние да го направим, Комисионна не се дължи !</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default pgl-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">Какво да направя за да започнете да ми търсите наемател ?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Първото което трябва е да се свържете с нас на <strong><em>0877811550</em></strong> или на <a href="mailto:office@sproperties.net"><strong><em>office@sproperties.net</em></strong></a>. Може да се свържете с нас също от <a href="/Home/Contact#sendmessage-header">тук</a></p>
                            <p>
                                След което ние ще ви представим нашите условия, на които ако сте съгласни, ще се уговори среща за оглед и описване на прелаганият имот.
                                На срещата ще бъдете запознат/а с договорът за поръчка за отдаване под наем, които за съвместна работа с нас трябва да подпишете.
                                В договорът се описват задълженията ни и размерът на комисионната ни. След подписване започваме активно да работим в насока търсене на наемател на помещението ви.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default pgl-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">Трябва ли да оставям ключове за имота на Агенцията ?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Оставянето на ключ за помещението не е задължително, а по-скоро се прави от гледна точна удобство за вас и за потенциалните наематели проявили интерес и искащи да направят оглед.</p>
                            <p>
                                Ако решите да ни оставите ключ няма да се налага да се свързваме с вас всеки път когато правим оглед и да ви привикваме да отключите помещението.
                                Това решение трябва да вземете с оглед ваше удобство, ако няма да е проблем и сте достъпни постоянно да откликнете на потенциален наемател не е необходимо да предоставяте ключ.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default pgl-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFouth" class="collapsed">Къде е офисът на Агенцията ?</a>
                        </h4>
                    </div>
                    <div id="collapseFouth" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>В момента се изгражда офис в Асеновград на ул.Пирин №8, и се надяваме ремонтните дейности да приключат по скоро за да има възможност да се свързвате с нас и в офиса, а до тогава може да се свържете с нас по телефон или е-мейл.</p>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default pgl-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">Voluptatem remopa accusantium doloremque laudantium</a> </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Nunc sagittis dolor et nibh laoreet consequat. Integer pharetra id magna sed laoreet. Pellentesque nec venenatis odio. Praesent aliquet tellus ut nibh semper, at posuere mauris iaculis. Donec mauris arcu; egestas ac neque eu, viverra molestie quam. Morbi eget augue sem. Proin nec pharetra quam. Ut consectetur velit a tincidunt suscipit. Sed eget iaculis mi. Ut fermentum odio urna, eu sagittis augue rhoncus vehicula! In ut nullam sodales.</p>
                                <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default pgl-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed">Integer pharetra id magna sed laoreet</a> </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Nunc sagittis dolor et nibh laoreet consequat. Integer pharetra id magna sed laoreet. Pellentesque nec venenatis odio. Praesent aliquet tellus ut nibh semper, at posuere mauris iaculis. Donec mauris arcu; egestas ac neque eu, viverra molestie quam. Morbi eget augue sem. Proin nec pharetra quam. Ut consectetur velit a tincidunt suscipit. Sed eget iaculis mi. Ut fermentum odio urna, eu sagittis augue rhoncus vehicula! In ut nullam sodales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default pgl-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapsed">Ut fermentum odio urna, eu sagittis augue rhoncus vehicula! In ut nullam sodales</a> </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Nunc sagittis dolor et nibh laoreet consequat. Integer pharetra id magna sed laoreet. Pellentesque nec venenatis odio. Praesent aliquet tellus ut nibh semper, at posuere mauris iaculis. Donec mauris arcu; egestas ac neque eu, viverra molestie quam. Morbi eget augue sem. Proin nec pharetra quam. Ut consectetur velit a tincidunt suscipit. Sed eget iaculis mi. Ut fermentum odio urna, eu sagittis augue rhoncus vehicula! In ut nullam sodales.</p>
                                <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default pgl-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="collapsed">Voluptatem remopa accusantium doloremque laudantium</a> </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Nunc sagittis dolor et nibh laoreet consequat. Integer pharetra id magna sed laoreet. Pellentesque nec venenatis odio. Praesent aliquet tellus ut nibh semper, at posuere mauris iaculis. Donec mauris arcu; egestas ac neque eu, viverra molestie quam. Morbi eget augue sem. Proin nec pharetra quam. Ut consectetur velit a tincidunt suscipit. Sed eget iaculis mi. Ut fermentum odio urna, eu sagittis augue rhoncus vehicula! In ut nullam sodales.</p>
                                <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- End FAQs -->

        </div>
        <div class="col-md-3 sidebar">
            <!-- Begin Search by keyword -->
            @Html.Partial("~/Views/Forum/SearchByKeyword_Partial.cshtml")
            <!-- End Search by keyword -->

            <aside class="block tabs pgl-bg-light">
                <ul class="nav nav-tabs second-tabs">
                    <li class="active"><a href="#popularPosts" data-toggle="tab"><i class="icon icon-star"></i> Популярни</a></li>
                    <li><a href="#latestComments" data-toggle="tab">Коментари</a></li>
                </ul>
                <div class="tab-content">
                    @Html.Partial("~/Views/Forum/Posts_Partial.cshtml", (List<RealEstate.ViewModels.WebMVC.Forum.PostSideViewModel>)ViewBag.PopularPosts)

                    @Html.Partial("~/Views/Forum/Comments_Partial.cshtml", (List<CommentSideViewModel>)ViewBag.LatestComments)
                </div>
            </aside>

        </div>
    </div>
</div>
<!-- End content with sidebar -->
