@model List<RealEstate.ViewModels.WebMVC.TeamUserListViewModel>

@{
    ViewBag.Title = "Екип - Имоти СПРОПЪРТИС";
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                <h2><span>Нашият екип</span></h2>
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Featured Agents -->
    <section class="pgl-agents">
        <div class="container">
            <h2>ТОП БРОКЕРИ</h2>
            <div class="featured-agent">
                <div class="row">
                    @foreach (var agent in ViewBag.FeaturedAgents)
                    {
                        <div class="col-md-6">
                            @Html.Partial("TeamUserListViewHorizontal", (RealEstate.ViewModels.WebMVC.TeamUserListViewModel)agent)
                        </div>
                    }
                </div>
            </div>
            <!-- End Featured Agents -->
            <!-- Begin Our Agents -->
            @if (ViewBag.Agents.Count > 0)
            {
                <div class="grid-agents">
                    <h2>Нашите брокери</h2>
                    <div class="row">
                        @foreach (var agent in ViewBag.Agents)
                        {
                            <div class="col-xs-6 col-md-3">
                                @Html.Partial("TeamUserListViewVertical", (RealEstate.ViewModels.WebMVC.TeamUserListViewModel)agent)
                            </div>
                        }
                    </div>
                </div>
            }
            <!-- End Our Agents -->
            <!-- Begin Our Marketers -->
            @if (ViewBag.Marketers.Count > 0)
            {
                <div class="grid-agents">
                    <h2>Нашите маркетолози</h2>
                    <div class="row">
                        @foreach (var marketer in ViewBag.Marketers)
                        {
                            <div class="col-xs-6 col-md-3">
                                @Html.Partial("TeamUserListViewVertical", (RealEstate.ViewModels.WebMVC.TeamUserListViewModel)marketer)
                            </div>
                        }
                    </div>
                </div>
            }
            <!-- End Our Marketers -->
            <!-- Begin Our Marketers -->
            @if (ViewBag.Maintenance.Count > 0)
            {
                <div class="grid-agents">
                    <h2>Нашият екип по подръжка</h2>
                    <div class="row">
                        @foreach (var maintenance in ViewBag.Maintenance)
                        {
                            <div class="col-xs-6 col-md-3">
                                @Html.Partial("TeamUserListViewVertical", (RealEstate.ViewModels.WebMVC.TeamUserListViewModel)maintenance)
                            </div>
                        }
                    </div>
                </div>
            }
            <!-- End Our Marketers -->
        </div>
    </section>

</div>