@using System.Configuration

@{
    ViewBag.Title = "Общи условия - Имоти СПРОПЪРТИС";
}

@section css{
    <style>
        .sproperties {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }
    </style>
}

    <div class="container">
        <br />
        <br />
        <article>
            <h1 align="center">Общи условия</h1>
            <h2 align="center">
                <strong>Политика за поверителност</strong>
            </h2>
            <ol type="1">
                <li>
                    <strong>Каква информация събираме?</strong>
                    <p>
                        Ние събираме информация от Вас, когато се регистрирате на нашия сайт или направите запитване. Всички задължителни полета за данни са посочени като такива  с&nbsp;(<span style="color: red;">*</span>) и трябва да бъдат попълнени, а останалите са доброволни и не са задължителни за попълване.
                        Когато се регистрирате на нашия сайт или правите запитване, може да Ви бъде поискано да въведете следните данни: име, фамилия, е-мейл адрес, пощенски адрес и телефонен номер.
                    </p>
                </li>
                <li>
                    <strong>За какво използваме информацията Ви?</strong>
                    <p>
                        Всяка информация, която събираме от Вас, може да бъде използвана по един от следните начини:
                    </p>
                    <ul style="list-style-type:disc">
                        <li>Да подобрим Вашето преживяване при работа със сайта ни (Вашата информация ни помага да отговорим по-добре на индивидуалните Ви нужди)</li>
                        <li>Да подобрим нашия уебсайт (непрекъснато се стремим да подобряваме предлаганите от нас услуги и функции на сайта въз основа на информацията и отзивите, които получаваме от Вас)</li>
                        <li>Да подобрим обслужването на клиентите (информацията Ви ни помага да реагираме по-ефективно на Вашите високи изисквания за обслужване на клиенти и поддръжка)</li>
                        <li>Изпращане на периодични е-мейли (Е-мейл адресът, който предоставяте за обработка на поръчките, може да бъде използван за изпращане на информация и актуални новини, отнасящи се до поръчката или запитването Ви, ако сте дали съгласие затова)</li>
                        <li>Е-мейл адресът и номера на мобилен телефон, които предоставяте при регистрация използваме за осъществяването на потвърждаване на регистрацията в уеб-системата чрез изпращана на е-мейл съобщение и/или СМС с потвърждаващ код.</li>
                    </ul>
                </li>
                <br />
                <li>
                    <strong>Разкриваме ли информация на външни лица?</strong>
                    <p>
                        Ние не продаваме, не търгуваме или по какъвто и да е друг начин прехвърляме на външни лица Вашата лична информация. Може да се наложи да предоставим Вашата информация, когато смятаме, че това е необходимо за спазване на закона, на правилата на сайта ни или за защита на правата, собствеността или безопасността както на нас, така и на други лица. Информацията за посетителите, която не може да бъде идентифицирана като лична може да бъде предоставена на други страни за маркетинг, реклама или друга употреба.
                    </p>
                </li>
                <li>
                    <strong>Съответствие с регламент (ЕС) 2016/679 (GDPR)</strong>
                    <p>
                        Съгласно изискванията на Общия регламент за защита на данните (ЕС) 2016/679 на Европейския парламент и на Съвета на Европа от 27 април 2016 г., с който се отменя Директива 95/46 / ЕО на ЕС за защита на данните, от "СПРОПЪРТИС" ЕООД (sProperties) се вземат всички възможни технически и организационни мерки признати от приложимото право в областта на защита на данните, за да защитим всички данни, които можем да съхраняваме, да оперираме или обработваме за нашите клиенти.
                    </p>
                </li>
                <li>
                    <strong>Как съхраняваме и защитаваме личната информация на нашите клиенти:</strong>
                    <p>
                        Вашата информация, събрана чрез услугите на "СПРОПЪРТИС" ЕООД (sProperties), се съхранява и обработва в България или в друга държава Европейския съюз. "СПРОПЪРТИС" ЕООД (sProperties) не прехвърля Вашата информация в държава или юрисдикция, която няма същите високи изисквания за защита на данните като законите на Вашата държава.
                    </p>
                    <p>
                        За всяко възможно пренасяне на данни извън границите на ЕС гарантираме адекватното ниво на защита на данните чрез договорни клаузи или други инструменти, признати от приложимото право.
                    </p>
                    <p>
                        Цялата информация, която събираме, се съхранява онлайн на сървъри, притежавани и управлявани от "СПРОПЪРТИС" ЕООД (sProperties). Гарантираме адекватно ниво на защита на данните, тъй като сме предприели необходимите действия, за да избегнем излагането на Вашата лична информация на трети страни, които включват следните стъпки:
                    </p>
                    <ol class="lower-bulgarian" type="a">
                        <li>Сървърите, на които съхраняваме Вашата лична информация, се намират в дата центровете с високи стандарти за сигурност, които включват физическо идентифициране на достъп чрез лична карта, 24/7/365 персонал на място и видео контрол.</li>
                        <li>Сървърите, които използваме за съхраняване на лична информация, изискват определен тип удостоверяване и са въведени мерки за сигурност, за да се избегне неразрешен достъп на трети страни.</li>
                        <li>Всички служители на "СПРОПЪРТИС" ЕООД (sProperties), които имат достъп до Вашата лична информация са подписали споразумения за конфиденциалност и неразкриване на информация, с които се гарантира използването на Вашата информация само за целите на изпълнението на тяхната работа.</li>
                        <li>"СПРОПЪРТИС" ЕООД (sProperties) се ангажира със защитата на личните Ви данни и информация, но не може да подсигури или гарантира сигурността на каквато и да е информация, която предавате чрез услугите на "СПРОПЪРТИС" ЕООД (sProperties) или да гарантира, че Вашата информация относно предоставяните от "СПРОПЪРТИС" ЕООД (sProperties) услуги не може да бъде достъпна, разкрита, променена или унищожена чрез нарушение на някоя от нашите стандартни за индустрията физически, технически или управленски гаранции. Когато въведете поверителна информация (например потребителско име и парола) във формуляра за поръчка или в клиентска част, тази информация се криптира чрез използването на SSL сертификат за сигурност (secure socket layer technology). Не съществува обаче метод за предаване на информация по Интернет или електронен път, както и метод за електронно съхранение на данни, който да е 100% сигурен. Следователно не можем да гарантираме неговата абсолютна сигурност. Ако имате въпроси относно сигурността на Вашата лична информация, моля свържете се с нас. "СПРОПЪРТИС" ЕООД (sProperties) използва външна платформа и фирма за обработка на кредитни карти, за извършваните от Вас онлайн плащания при заплащане на услуги. Тези компании не запазват, споделят, съхраняват или използват лична информация за други цели.</li>
                        <li>За клиентите в ЕС, "СПРОПЪРТИС" ЕООД (sProperties) отговаря на общия регламент на ЕС за защита на данните, определен от Европейския съюз, по отношение на събирането, използването и запазването на лични данни. "СПРОПЪРТИС" ЕООД (sProperties) удостоверява, че спазва изискванията за уведомление, избор за по-нататъшно преместване, сигурност, интегритет на данните, достъп и изпълнение.</li>
                        <li>Използваме информация предоставената ни от Вас – различна от клиентските данни - за управление, поддържане, усъвършенстване и предоставяне на всички функции на услугата, която сте поискали, както и за предоставяне на поддръжка свързана с услугата Ви. Ние обработваме клиентски данни само в съответствие с указанията, предоставени от съответния клиент или потребител.</li>
                        <li>Уважаваме Вашите лични данни и Ви предоставяме достъп до тези данни, които може да сте предоставили чрез използването на услугите ни. Ако желаете да получите достъп или да промените всички лични данни, които пазим за Вас, или да поискате да изтрием каквато и да било информация за Вас, която сме получили чрез използването на нашите услуги, можете да се свържете с нас по всяко време, както е посочено в "За контакти" на нашия уебсайт. При запитване ще блокираме или изтрием цялата информация, която имаме за Вас от нашата база данни. Можете да актуализирате, поправяте или изтривате информацията за профила си по всяко време от Вашата клиентска част. Моля, обърнете внимание, че макар и промените, които правите, да се отразят незабавно в активните потребителски бази данни или в рамките на приемлив период от време, можем да запазим цялата информация, която предоставяте за предотвратяване на измами, злоупотреби или други правни задължения, или когато смятаме, че имаме основателна причина за това. Можете да откажете да ни предоставите лична информация, в който случай може да не успеем да предоставим някои от функциите на услугата.</li>
                        <li>
                            <p>
                                Съхраняваме само личните данни, събрани от потребителя, докато профилът е активен или в противен случай ги съхраняваме за ограничен период от време, докато се нуждаем от тях, за да изпълним целите, за които сме ги събрали първоначално, освен ако не е предвидено друго чрез закон. Ще запазим и използваме информацията, която е необходима, за да спазим нашите правни задължения, да разрешим спорове и да приложим нашите споразумения както следва.
                            </p>
                            <ul style="list-style-type:disc">
                                <li>Информацията за плащане се запазва за 11 години в съответствие със счетоводните и данъчните закони</li>
                                <li>Информацията за юридически транзакции се запазва за 10 години в съответствие с общия давностен срок, определен за граждански искове</li>
                            </ul>
                        </li>
                        <li>"СПРОПЪРТИС" ЕООД (sProperties) не притежава, не контролира или управлява използването на данните на клиента, съхранявани или обработени чрез използването на нашите услуги. Само потребителят има право на достъп, обработване и управление на използването на такива клиентски данни. "СПРОПЪРТИС" ЕООД (sProperties) не знае какви клиентски данни всъщност се съхраняват или предоставят от клиент на услугата и няма директен достъп до такива клиентски данни, освен ако е упълномощен от клиента, или ако е необходимо, за да се предоставят услугите на клиента, както се изисква.</li>
                    </ol>
                    <p>
                        Тъй като "СПРОПЪРТИС" ЕООД (sProperties) не събира или определя как да се използват личните данни, съдържащи се в клиентските данни, и защото не определя целите, за които се събират такива лични данни, нито тяхната употреба, "СПРОПЪРТИС" ЕООД (sProperties) не действа в качеството си на администратор на лични данни по Общия регламент за защита на данните и няма свързаните с него отговорности съгласно законодателството на ЕС. "СПРОПЪРТИС" ЕООД (sProperties) отговаря само за предоставяне на сървърно пространство (хостинг) съгласно чл. 14 от ДИРЕКТИВА 2000/31 / ЕО НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ И НА СЪВЕТА НА ЕВРОПА от 8 юни 2000г. "СПРОПЪРТИС" ЕООД (sProperties) следва да се разглежда само като обработващ от името на своите клиенти данни за всяка клиентска информация, съдържаща лична информация, която е предмет на изискванията от GDPR. Клиентът е администраторът на данни съгласно Регламента за всички клиентски данни, съдържащи лична информация, което означава, че тази страна контролира начина, по който се събират и използват тези лични данни, както и определянето на целите и средствата за обработка на такива лични данни.
                    </p>
                    <p>
                        "СПРОПЪРТИС" ЕООД (sProperties) не носи отговорност за съдържанието на личните данни, съдържащи се в клиентските данни или друга информация, съхранявана на сървърите си, по преценка на клиента, нито "СПРОПЪРТИС" ЕООД (sProperties) е отговорен за начина, по който клиентът събира, обработва, разпространява или по друг начин обработва такава лична информация.
                    </p>
                </li>
                <li>
                    <strong>Вашето съгласие</strong>
                    <p>Използвайки нашия сайт, Вие се съгласявате с нашата <a href="" class="declaration-link">декларация за поверителност</a>.</p>
                </li>
                <li>
                    <strong>Промени в декларацията за поверителност и/или в Общите условия</strong>
                    <p>Ако решим да променим правилата ни за поверителност и/или Общите условия, ще публикуваме промените на тази уеб страница<span class="your-email"> и ще Ви бъде изпратен Е-мейл</span>.</p>
                </li>
                <li>
                    <strong>Какви услуги предоставяме на нашия сайт</strong>
                    <p>sProperties е имотна информационна система, чрез която на потребителите на сайта се предоставят следните електронни услуги:</p>
                    <ul style="list-style-type:disc">
                        <li><p><strong>Разглеждане на имоти</strong> – безплатна услуга, предоставяна на всеки посетител на сайта @ConfigurationManager.AppSettings["domain"]. Попадайки на страниците от секция имоти получавате достъп до богат набор от недвижими имоти (къщи, апартаменти, офиси, вили и др.), както за продажба така и за отдаване под наем. Търсене според различни критерии или идентификационен номер на имот, без необходимост от регистрация.</p></li>
                        <li><p><strong>Резервиране на час за оглед</strong> – безплатна услуга, предоставяна на всеки посетител на сайта @ConfigurationManager.AppSettings["domain"]. Резервация на оглед е възможна само на имоти, които се продават или се отдават под наем за периоди различни от дневна база, без необходимост от регистрация.</p></li>
                        <li><p><strong>Резервиране на имот за престой/почивка</strong> – безплатна услуга, предоставяна на всеки посетител на сайта @ConfigurationManager.AppSettings["domain"]. Резервация на имоти за престой/почивка е възможна само за тези имоти, които се отдават под наем на дневна база, без необходимост от регистрация.</p></li>
                        <li><p><strong>Секция „Форум“</strong> – услугата предоставя възможност на посетителите на сайта да разглеждат, ако са нерегистрирани, и да изразяват мнението си за теми и постове под формата на коментари, както и да създават постове, ако имат регистрация.</p></li>
                        <li><p><strong>Секция „Операции“</strong> – услугата предоставя възможност на регистрираните потребители на сайта да променят или изтриват информация свързана с техният акаунт. Това включва управление на снимки, смяна на парола, преглед на резервации, преглед на уговорени срещи за оглед и други.</p></li>
                    </ul>
                </li>
                <li>
                    <strong>Плащания на услуги и възстановяване на суми</strong>
                    <p>Плащанията по предоставените от "СПРОПЪРТИС" ЕООД (sProperties) услуги на регистрираните потребители се извършват през ePay.bg посредством предоставените от тях възможности (дебитна или кредитна карта, ePay или EasyPay), както и в брой в офиса на "СПРОПЪРТИС" ЕООД (sProperties) или по банков път.</p>
                    <p>При платена заявка за резервация на имот за почивка/престой и последващо отказване от услугата сумата се връща, като се отдържа капарото за конкретната резервация.</p>
                    <p>Заявката за възстановяване на средства във всички случаи се смята за отказ от предоставяне на услуга.</p>
                    <p>Възстановяването на заплатени суми се извършва в срок до 14 дни от подаване на искането по предоставена от потребителя банкова сметка.</p>
                </li>
            </ol>
            <hr>
            <strong>Контакт с нас</strong>
            <p>Ако имате въпроси относно тези Общи условия или декларацията за поверителност, можете да се свържете с нас, като използвате информацията по-долу: <a href="#" target="_blank">Информация</a></p>
            <p>
                "СПРОПЪРТИС" ЕООД (sProperties)<br>
                ул. Пирин №8<br>
                партер<br>
                4230 Асеновград, България
            </p>
            <p>
                Работно време (офис):<br>
                Понеделник - Петък: Плаващо<br>
                Събота и Неделя: Почивни дни
            </p>
            <p>
                Телефон: @ConfigurationManager.AppSettings["OfficePhone"]<br>
                Е-мейл: <img alt="office@sproperties.net" height="14" src="\Resources\EmailAsImage\email.png" style="vertical-align:text-bottom;">
            </p>

            <fieldset class="sproperties">
                <legend>sProperties © 2018-2019г.&nbsp;&nbsp;|&nbsp;&nbsp;"СПРОПЪРТИС" ЕООД</legend>
            </fieldset>
        </article>

    </div>
