@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заключен акаунт";
}

<hgroup>
    <h1 class="text-danger">Заключен акаунт.</h1>
    <h2 class="text-danger">Този акаунт е заключен. Моля опитайте по-късно.</h2>
</hgroup>
