<!-- The Modal Regular Images -->
<div id="modalRegular" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
           '+ title +'
            <span class="close" onclick="closeModal(this)">&times;</span>
        </div>
        <div class="modal-body">
            '+  body +'
        </div>
    </div>
</div>