

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Доклад</title>

    <style>
        input[type="checkbox"] {
            -webkit-appearance: initial;
            background: gray;
            width: 16px;
            height: 16px;
            border: none;
            position: relative;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }

            input[type="checkbox"]:checked {
                background: grey;
            }

                input[type="checkbox"]:checked:after {
                    /* Heres your symbol replacement */
                    content: "X";
                    color: #fff;
                    /* The following positions my tick in the center,
                        * but you could just overlay the entire box
                        * with a full after element with a background if you want to */
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }

        td {
            border: black 2px solid;
        }
    </style>
</head>

<body>
    <div style="width:21.59cm; height:27.9cm;">
        <h1 align="center" style="margin-top:0; margin-bottom:20px;">Доклад за извършени дейности „СПРОПЪРТИС“</h1>
        <table style="border-collapse:collapse; width: 100%;">
            <tbody>
                <tr>
                    <td colspan="4">
                        <p align="center" style="font-size: 18pt; margin:5px 0">
                            <b>Извършена реклама</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p align="center" style="font-size: 14pt; margin:5px 0;">
                            <b>Начини на реклама</b>
                        </p>
                    </td>
                    <td colspan="2">
                        <p align="center" style="font-size: 14pt; margin:5px 0;">
                            <b>Използвани платформи</b>
                        </p>
                    </td>
                    <td rowspan="2">
                        <p align="center" style="font-size: 14pt; margin:5px 0;">
                            <b> Споделен с колеги</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;"><b>Платформа</b></td>
                    <td style="text-align: center;"><b>Прегл.</b></td>
                </tr>
                <tr>
                    <td width="22%;" rowspan="10">
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">Уеб платформи</span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">Флаери</span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">Билборд</span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;"> Споделяне с контакти </span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">Транспаранти</span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;"> Емейл маркетинг </span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;"> Социални мрежи </span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">Споделяне с Брокери</span>
                            </div>
                                                    <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;">One Media</span>
                            </div>
                            <div style="margin: 0; padding: 3px; position: relative;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size: 16px; position: absolute; left: 23px; top: 2px;"></span>
                            </div>
                    </td>
                    <td style="width: 33.5%;height: 21.5px;">
                        <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                            olx.bg)
                        </span>
                    </td>
                    <td style="width: 5%;height: 21.5px;">
                        <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                            122
                        </span>
                    </td>
                    <td style="height: 21.5px;">
                        <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                            Иван Иванов
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                bazar.bg
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                322
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                Петър петров
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33.5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="width: 5%; height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                        <td style="height: 21.5px;">
                            <span style="width: 99.8%; font-size: 16px; margin: 0; border: 0;">
                                
                            </span>
                        </td>
                    </tr>
            </tbody>
        </table>
        <br>
        <table style="border-collapse:collapse;  width: 100%;">
            <tbody>
                <tr>
                    <td colspan="4">
                        <p align="center" style="font-size: 18pt; margin:5px 0">
                            <b>Резултати от извършените дейности</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p align="center" style="font-size: 18pt; margin:0">
                            <b>Общо преглеждания</b>
                        </p>
                    </td>
                    <td>
                        <p align="center" style="font-size: 18pt; margin:0">
                            <b>Общо обаждания</b>
                        </p>
                    </td>
                    <td>
                        <p align="center" style="font-size: 18pt; margin:0">
                            <b>Общо огледи</b>
                        </p>
                    </td>
                    <td>
                        <p align="center" style="font-size: 18pt; margin:0">
                            <b>Общо оферти</b>
                        </p>
                    </td>
                </tr>
                <tr height="50px;">
                    <td width="30%" style="text-align: center;">
                        <span style="width: 98%; font-size: 36px; border: 0;">123</span>
                    </td>
                    <td style="text-align: center;">
                        <span style="width: 98%; font-size: 36px;  border: 0;">4</span>
                    </td>
                    <td style="text-align: center;">
                        <span style="width: 98%; font-size: 36px;  border: 0;">2</span>
                    </td>
                    <td style="text-align: center;">
                        <span style="width: 98%; font-size: 36px;  border: 0;">0</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;">123</span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                            <div style="width: 33%; display: inline-block;">
                                <span>Цена на оферта:</span>
                                <span style="width: 40%;"></span>
                                <span>лв.</span>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table style="border-collapse:collapse; width: 100%;">
            <tbody>
                <tr>
                    <td>
                        <p align="center" style="font-size: 18pt; margin:5px 0">
                            <b>Изводи от извършените дейности</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;">
                        <div style="width:99.8%; height: 92px; margin:0; padding:0; border: 0;">Lorem ipsum dolor sit amet</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table style="border-collapse:collapse;  width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p align="center" style="font-size: 18pt; margin:5px 0">
                            <b>Препоръки за последваща работа</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin:0; padding:3px;">
                            <input type="checkbox" checked />
                            <strong style="font-size:16px; position:relative;">Промяна на маркетинг</strong>
                        </div>
                    </td>
                    <td>
                        <div style="text-align:center;">
                            <strong style="font-size:22px;">Аргументи</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        <div style="margin:0; padding:3px;">
                            <input type="checkbox" checked />
                            <strong style="font-size:16px; position:relative;">Корекция на цената</strong>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div style="border: 0; width: 595px; height: 137px;">Lorem ipsum dolor sit amet</div>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <div style="margin:0; padding:3px;">
                                <input type="checkbox" disabled="disabled" checked />
                                <span style="font-size:16px;">Рекоменд</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin:0; padding:3px;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size:16px;"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin:0; padding:3px;">
                                <input type="checkbox" disabled="disabled"  />
                                <span style="font-size:16px;"></span>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <br />
        <div style="text-align: center;">
            <span style="float: left;">Изготвен на:</span>
            <span id="createdOn" style="float: left;">25.04.2019</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Имот:<a target="_blank" href="https://www.sproperties.net">https://www.sproperties.net</a></span>

            <span id="agentName" style="float: right;">Stef Stef</span>
            <span style="float: right;">От:</span>
        </div>
    </div>

</body>
</html>

